<ion-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="mt-2">{{entryData.getLabel()}}</p>
      </div>
      <div class="col-auto">
        <p class="mt-2">{{entryData.getFactorString()}}</p>
      </div>
      <div class="col-auto">
        <ion-button fill="clear" color="danger" (click)="presentEntryDeletionAlert()">
          <ion-icon name="close-circle-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-item lines="none" class="money-text-area">
          <ion-icon name="logo-usd" size="small" class="mb-1"></ion-icon>
          <ion-label >
            {{entryData.getValue().toFixed(2)}}
          </ion-label>
        </ion-item>
      </div>
      <div class="col-auto">
        <ion-button fill="clear" color="primary" (click)="presentEditModal()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-card>

<app-entry-modal [modalHeader]="entryData.getLabel()" [(isOpen)]='editModalIsOpen' [entryData]="entryData" (onEntrySubmit)="onEdit($event)"></app-entry-modal>