<ion-modal trigger="triggerButtonID" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Entry</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Entry name</ion-label>
        <ion-input type="text" placeholder="Entry name" [(ngModel)]="entryName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Frequency</ion-label>
        <ion-select
          placeholder="Select Frequency"
          (ionChange)="setFrequency($event)"
        >
          <ion-select-option value="Once">Once</ion-select-option>
          <ion-select-option value="Daily">Daily</ion-select-option>
          <ion-select-option value="Weekly">Weekly</ion-select-option>
          <ion-select-option value="Monthly">Monthly</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Value</ion-label>
        <ion-icon name="logo-usd" slot="start" size="small"></ion-icon>
        <ion-input type="number" placeholder="0.00" [(ngModel)]="value"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>