<ion-grid>
  <ion-row>
    <ion-col>
      <h1>{{label}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="mode == incomeMode" size="8" class="income-progress-bar">
      <ion-progress-bar style="height: 10px" [value]="percentage"></ion-progress-bar>
    </ion-col>
    <ion-col *ngIf="mode == expenditureMode" size="8" class="expenditure-progress-bar">
      <ion-progress-bar style="height: 10px" [value]="percentage"></ion-progress-bar>
    </ion-col>
    <ion-col *ngIf="mode == pocketedMode" size="8" class="pocketed-progress-bar">
      <ion-progress-bar style="height: 10px" [value]="percentage"></ion-progress-bar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="money-text-area" lines="none">
        <ion-icon name="logo-usd" slot="start" size="small"></ion-icon>
        <ion-label slot="end">
          {{value.toFixed(2)}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-item class="backgroundless-item" lines="none">
        <ion-label>
          / week
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>