<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Finances
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="header-area">
  <app-entry-header [type]="incomeType"></app-entry-header>
</ion-content>

<ion-content>
  <app-entry-area [entries]="allIncomeEntries"></app-entry-area>
</ion-content>

<ion-content class="header-area mt-3">
  <app-entry-header [type]="expenseType"></app-entry-header>
</ion-content>

<ion-content>
  <app-entry-area [entries]="allExpenseEntries"></app-entry-area>
</ion-content>
