<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Finances
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Finances</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-entry-header [type]="incomeType"></app-entry-header>
  <app-entry-area></app-entry-area>
  <app-finance-entry-card></app-finance-entry-card>
  <app-entry-header [type]="expenseType"></app-entry-header>
  <app-entry-area></app-entry-area>

</ion-content>
