<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <app-eula-modal></app-eula-modal>
  -->

  <app-home-page-content-area [label]="predictedIncomeLabel" [mode]="0" [value]="totalIncomeValue" [percentage]="incomePercent"></app-home-page-content-area>
  <app-home-page-content-area [label]="expendituresLabel" [mode]="1" [value]="totalExpenseValue" [percentage]="expensePercent"></app-home-page-content-area>
  <app-home-page-content-area [label]="pocketedSavingsLabel" [mode]="2" [value]="pocketedValue" [percentage]="pocketedPercent"></app-home-page-content-area>  
</ion-content>  